In [3]:
import yfinance as yf
from typing import Literal
import pandas as pd

# <h1 style="color:red"> API YAHOO

In [ ]:
# changer les from grade 
ajouter les info d"une société
ajouter calendar
msft.eps_trend
options

In [ ]:
msft = yf.Ticker("TSLA")

# get all stock info

## <h2 style="color:purple"> Information Business

### <h3 style="color:cyan"> get_genral_information

In [27]:
def get_business_recommendation(business_name):
    business = yf.Ticker(business_name)
    df = pd.json_normalize(business.info)
    df = df[[
        'address1','city','state','zip','country','phone','website','sector','previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen',
        'regularMarketDayLow',  'regularMarketDayHigh', 'volume', 'regularMarketVolume', 'bid', 'ask', 'bidSize', 'askSize', 'returnOnEquity', 'earningsGrowth', 'revenueGrowth', 
        'grossMargins', 'ebitdaMargins', 'operatingMargins', 'ebitda', 'totalDebt', 'quickRatio', 'lastDividendValue', 'lastDividendDate', 'currentPrice', 'targetHighPrice', 
        'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions'
    ]]
    return df

In [34]:
get_business_recommendation("AAPL")

,address1,city,state,zip,country,phone,website,sector,previousClose,open,...,lastDividendValue,lastDividendDate,currentPrice,targetHighPrice,targetLowPrice,targetMeanPrice,targetMedianPrice,recommendationMean,recommendationKey,numberOfAnalystOpinions
0,One Apple Park Way,Cupertino,CA,95014,United States,(408) 996-1010,https://www.apple.com,Technology,247.96,247.88,...,0.25,1731024000,248.13,300.0,184.0,245.78214,250.0,1.89362,buy,42

### <h3 style="color:cyan"> get_calendar

In [35]:
def get_calendar(business_name):
    business = yf.Ticker(business_name)
    df = pd.json_normalize(business.calendar)
    return df

In [36]:
get_calendar("AAPL")

,Dividend Date,Ex-Dividend Date,Earnings Date,Earnings High,Earnings Low,Earnings Average,Revenue High,Revenue Low,Revenue Average
0,2024-11-14,2024-11-08,"[2025-01-30, 2025-02-03]",2.5,2.19,2.35591,129887000000,119563000000,124410526290

## <h2 style="color:purple"> Finance Data

### <h3 style="color:cyan"> get_historical_data

In [42]:
def get_historical_data(business_name : str, period_choose : str)-> None :
    business = yf.Ticker(business_name)
    trade_hist = business.history(period=period_choose)
    trade_hist = trade_hist.reset_index()
    trade_hist["Date"] = pd.to_datetime(trade_hist["Date"])
    trade_hist["Year"] = trade_hist["Date"].apply(lambda x : x.year)
    trade_hist["Month"] = trade_hist["Date"].apply(lambda x : x.month)
    trade_hist["Day"] = trade_hist["Date"].apply(lambda x : x.day)
    trade_hist = trade_hist[[
        'Date', 'Year', 'Month', 'Day',
        'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'
    ]]
    return trade_hist

In [43]:
get_historical_data("AAPL", "3mo")

,Date,Year,Month,Day,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-09-16 00:00:00-04:00,2024,9,16,216.302020,216.981280,213.684904,216.082275,59357400,0.0,0.0
1,2024-09-17 00:00:00-04:00,2024,9,17,215.512892,216.661622,214.264266,216.551743,45519300,0.0,0.0
2,2024-09-18 00:00:00-04:00,2024,9,18,217.310915,222.465248,217.300917,220.447464,59894900,0.0,0.0
3,2024-09-19 00:00:00-04:00,2024,9,19,224.742744,229.567437,224.383139,228.618469,66781300,0.0,0.0
4,2024-09-20 00:00:00-04:00,2024,9,20,229.717263,232.833829,227.369839,227.949203,318679900,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
59,2024-12-09 00:00:00-05:00,2024,12,9,241.830002,247.240005,241.750000,246.750000,44649200,0.0,0.0
60,2024-12-10 00:00:00-05:00,2024,12,10,246.889999,248.210007,245.339996,247.770004,36914800,0.0,0.0
61,2024-12-11 00:00:00-05:00,2024,12,11,247.960007,250.800003,246.259995,246.490005,45205800,0.0,0.0
62,2024-12-12 00:00:00-05:00,2024,12,12,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0
63,2024-12-13 00:00:00-05:00,2024,12,13,247.820007,249.289993,246.240005,248.130005,33132000,0.0,0.0

### <h3 style="color:cyan"> get_analyst_price_targets

In [30]:
def get_analyst_price_targets(business_name):    
    business = yf.Ticker(business_name)
    analyst_price_targets = business.analyst_price_targets
    return analyst_price_targets

In [31]:
get_analyst_price_targets("AAPL")

{'current': 248.13,
 'low': 184.0,
 'high': 300.0,
 'mean': 245.78214,
 'median': 250.0}

### <h3 style="color:cyan"> get_business_recommendation

In [27]:
def get_business_recommendation(business_name):
    business = yf.Ticker(business_name)
    recommendation = business.recommendations
    return recommendation

In [28]:
get_business_recommendation("AAPL")

  period  strongBuy  buy  hold  sell  strongSell
0     0m          8   24    12     1           2
1    -1m          8   24    12     1           2
2    -2m          8   23    12     1           2
3    -3m          8   24    12     0           2

### <h3 style="color:cyan"> get_business_grades

In [44]:
def get_business_grades(business_name):
    business = yf.Ticker(business_name)
    grade = business.upgrades_downgrades
    grade = grade.reset_index()
    
    grade["GradeDate"] = pd.to_datetime(grade["GradeDate"])
    grade["GradeYear"] = grade["GradeDate"].apply(lambda x : x.year)
    grade["GradeMonth"] = grade["GradeDate"].apply(lambda x : x.month)
    grade["GradeDay"] = grade["GradeDate"].apply(lambda x : x.day)

    grade[[
    'GradeDate', 'GradeMonth', 'GradeDay', 'GradeYear',
    'Firm', 'ToGrade', 'FromGrade', 'Action'
    ]]

    # 1. Catégorie Positive : Ces termes indiquent une perspective optimiste pour l’action, suggérant d’acheter ou de surpondérer :
    # 2. Catégorie Neutre : Ces termes indiquent une perspective équilibrée, conseillant souvent de garder ou de ne pas agir de manière significative :
    # 3. Catégorie Négative : Ces termes reflètent une opinion pessimiste, recommandant de vendre ou de réduire l’exposition :

    # Les recommandations positives encouragent les investisseurs à acheter ou à renforcer leur position.
    ##  Les recommandations neutres suggèrent d’attendre sans prendre de décision précipitée.
    # Les recommandations négatives avertissent que l’action pourrait sous-performer et indiquent souvent de vendre ou de réduire sa position.

    grade["ToGrade"] = grade["ToGrade"].replace([
        "Buy", "Strong Buy", "Outperform", "Overweight", "Neutral", "Hold", "Market Perform", "Equal-Weight", "Sector Perform", "Perform", "Sell", "Underperform", "Underweight"],
        ["Positif", "Positif", "Positif", "Positif", "Neutre", "Neutre", "Neutre", "Neutre", "Neutre", "Neutre", "Negative", "Negative", "Negative"]
    )

    grade["ToGrade"] = grade["ToGrade"].replace(
        ["Positif", "Neutre", "Negative"],
        [1, 0, -1])

    grade = grade.reset_index()

    return grade

In [45]:
get_business_grades("AAPL")

,index,GradeDate,Firm,ToGrade,FromGrade,Action,GradeYear,GradeMonth,GradeDay
0,0,2024-12-13 14:28:55,Morgan Stanley,1,Overweight,reit,2024,12,13
1,1,2024-12-10 11:11:52,Needham,1,Buy,reit,2024,12,10
2,2,2024-11-29 15:34:06,Wedbush,1,Outperform,reit,2024,11,29
3,3,2024-11-25 14:22:56,Morgan Stanley,1,Overweight,reit,2024,11,25
4,4,2024-11-01 18:16:16,Maxim Group,0,Hold,main,2024,11,1
...,...,...,...,...,...,...,...,...,...
962,962,2014-12-08 14:00:00,Citigroup,1,,main,2014,12,8
963,963,2014-12-03 05:00:00,JMP Securities,Market Outperform,,main,2014,12,3
964,964,2014-12-02 10:21:52,Canaccord Genuity,1,,main,2014,12,2
965,965,2014-12-01 10:08:52,Barclays,1,,main,2014,12,1
966,966,2012-09-12 11:51:00,Hudson Square,1,,main,2012,9,12

## <h2 style="color:purple"> Option Data

### <h3 style="color:cyan"> options

In [46]:
def get_options(business_name):
    """
    Récuperation de toutes les options avec toutes les dates d'expiration connus 
    call → Une option CALL donne à l'acheteur le droit (mais pas l'obligation) d'ACHETER l'actif sous-jacent à un prix prédéfini avant ou à la date d'expiration
    put → Une option PUT donne à l'acheteur le droit (mais pas l'obligation) de VENDRE l'actif sous-jacent à un prix prédéfini avant ou à la date d'expiration
    """
    business = yf.Ticker(business_name)

    # Récupérer les dates d'expiration disponibles
    expiration_dates = business.options

    # liste pour stocker les données d'options
    options_data = []

    for date in expiration_dates:
        # Récupérer les chaines d'options pour cette date
        opt_chain = business.option_chain(date)
        
        # Ajouter les calls et puts + col pour date et type
        calls = opt_chain.calls
        calls["expirationDate"] = date
        calls["Type"] = "calls"

        puts = opt_chain.puts
        puts["expirationDate"] = date
        puts["Type"] = "puts"

        options_data.append(calls)
        options_data.append(puts)

    # Combiner toutes les données en un seul DataFrame
    options_df = pd.concat(options_data, ignore_index=True)
    return options_df

In [47]:
get_options("AAPL")

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,expirationDate,Type
0,AAPL250117C00005000,2025-01-10 16:58:25+00:00,5.0,229.90,231.40,232.40,-7.050003,-2.975313,16.0,1546,11.375003,True,REGULAR,USD,2025-01-17,calls
1,AAPL250117C00010000,2024-12-30 15:27:20+00:00,10.0,240.87,225.90,227.85,0.000000,0.000000,1.0,29,8.500005,True,REGULAR,USD,2025-01-17,calls
2,AAPL250117C00015000,2025-01-10 17:58:30+00:00,15.0,220.87,220.85,222.95,-16.270004,-6.860928,2.0,167,7.843750,True,REGULAR,USD,2025-01-17,calls
3,AAPL250117C00020000,2025-01-10 19:16:12+00:00,20.0,216.57,215.90,217.80,9.170013,4.421414,25.0,69,0.500005,True,REGULAR,USD,2025-01-17,calls
4,AAPL250117C00025000,2025-01-08 14:31:57+00:00,25.0,216.26,210.85,212.95,0.000000,0.000000,1.0,77,6.343752,True,REGULAR,USD,2025-01-17,calls
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778,AAPL270115P00400000,2024-12-10 14:30:05+00:00,400.0,152.76,161.25,165.10,0.000000,0.000000,NaN,0,0.224617,True,REGULAR,USD,2027-01-15,puts
1779,AAPL270115P00410000,2024-12-10 14:30:05+00:00,410.0,162.74,171.30,175.10,0.000000,0.000000,NaN,0,0.232552,True,REGULAR,USD,2027-01-15,puts
1780,AAPL270115P00430000,2024-11-14 16:22:45+00:00,430.0,203.30,179.50,184.50,0.000000,0.000000,3.0,0,0.000010,True,REGULAR,USD,2027-01-15,puts
1781,AAPL270115P00440000,2025-01-10 18:07:33+00:00,440.0,203.52,201.15,205.10,8.520004,4.369233,5.0,0,0.254799,True,REGULAR,USD,2027-01-15,puts
1782,AAPL270115P00450000,2025-01-10 20:54:54+00:00,450.0,213.16,211.20,215.10,5.760010,2.777247,2.0,0,0.261787,True,REGULAR,USD,2027-01-15,puts