In [1]:
import yfinance as yf
from typing import Literal
import pandas as pd

In [42]:
def get_historical_data(business_name : str, period_choose : str)-> None :
    business = yf.Ticker(business_name)
    trade_hist = business.history(period=period_choose)
    trade_hist = trade_hist.reset_index()
    trade_hist["Date"] = pd.to_datetime(trade_hist["Date"])
    trade_hist["Year"] = trade_hist["Date"].apply(lambda x : x.year)
    trade_hist["Month"] = trade_hist["Date"].apply(lambda x : x.month)
    trade_hist["Day"] = trade_hist["Date"].apply(lambda x : x.day)
    trade_hist = trade_hist[[
        'Date', 'Year', 'Month', 'Day',
        'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'
    ]]
    return trade_hist

In [43]:
get_historical_data("AAPL", "3mo")

,Date,Year,Month,Day,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-09-16 00:00:00-04:00,2024,9,16,216.302020,216.981280,213.684904,216.082275,59357400,0.0,0.0
1,2024-09-17 00:00:00-04:00,2024,9,17,215.512892,216.661622,214.264266,216.551743,45519300,0.0,0.0
2,2024-09-18 00:00:00-04:00,2024,9,18,217.310915,222.465248,217.300917,220.447464,59894900,0.0,0.0
3,2024-09-19 00:00:00-04:00,2024,9,19,224.742744,229.567437,224.383139,228.618469,66781300,0.0,0.0
4,2024-09-20 00:00:00-04:00,2024,9,20,229.717263,232.833829,227.369839,227.949203,318679900,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
59,2024-12-09 00:00:00-05:00,2024,12,9,241.830002,247.240005,241.750000,246.750000,44649200,0.0,0.0
60,2024-12-10 00:00:00-05:00,2024,12,10,246.889999,248.210007,245.339996,247.770004,36914800,0.0,0.0
61,2024-12-11 00:00:00-05:00,2024,12,11,247.960007,250.800003,246.259995,246.490005,45205800,0.0,0.0
62,2024-12-12 00:00:00-05:00,2024,12,12,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0
63,2024-12-13 00:00:00-05:00,2024,12,13,247.820007,249.289993,246.240005,248.130005,33132000,0.0,0.0

In [30]:
def get_analyst_price_targets(business_name):    
    business = yf.Ticker(business_name)
    analyst_price_targets = business.analyst_price_targets
    return analyst_price_targets

In [31]:
get_analyst_price_targets("AAPL")

{'current': 248.13,
 'low': 184.0,
 'high': 300.0,
 'mean': 245.78214,
 'median': 250.0}

In [27]:
def get_business_recommendation(business_name):
    business = yf.Ticker(business_name)
    recommendation = business.recommendations
    return recommendation

In [28]:
get_business_recommendation("AAPL")

  period  strongBuy  buy  hold  sell  strongSell
0     0m          8   24    12     1           2
1    -1m          8   24    12     1           2
2    -2m          8   23    12     1           2
3    -3m          8   24    12     0           2

In [44]:
def get_business_grades(business_name):
    business = yf.Ticker(business_name)
    grade = business.upgrades_downgrades
    grade = grade.reset_index()
    
    grade["GradeDate"] = pd.to_datetime(grade["GradeDate"])
    grade["GradeYear"] = grade["GradeDate"].apply(lambda x : x.year)
    grade["GradeMonth"] = grade["GradeDate"].apply(lambda x : x.month)
    grade["GradeDay"] = grade["GradeDate"].apply(lambda x : x.day)

    grade[[
    'GradeDate', 'GradeMonth', 'GradeDay', 'GradeYear',
    'Firm', 'ToGrade', 'FromGrade', 'Action'
    ]]

    # 1. CatÃ©gorie Positive : Ces termes indiquent une perspective optimiste pour lâ€™action, suggÃ©rant dâ€™acheter ou de surpondÃ©rer :
    # 2. CatÃ©gorie Neutre : Ces termes indiquent une perspective Ã©quilibrÃ©e, conseillant souvent de garder ou de ne pas agir de maniÃ¨re significative :
    # 3. CatÃ©gorie NÃ©gative : Ces termes reflÃ¨tent une opinion pessimiste, recommandant de vendre ou de rÃ©duire lâ€™exposition :

    # Les recommandations positives encouragent les investisseurs Ã  acheter ou Ã  renforcer leur position.
    ##  Les recommandations neutres suggÃ¨rent dâ€™attendre sans prendre de dÃ©cision prÃ©cipitÃ©e.
    # Les recommandations nÃ©gatives avertissent que lâ€™action pourrait sous-performer et indiquent souvent de vendre ou de rÃ©duire sa position.

    grade["ToGrade"] = grade["ToGrade"].replace([
        "Buy", "Strong Buy", "Outperform", "Overweight", "Neutral", "Hold", "Market Perform", "Equal-Weight", "Sector Perform", "Perform", "Sell", "Underperform", "Underweight"],
        ["Positif", "Positif", "Positif", "Positif", "Neutre", "Neutre", "Neutre", "Neutre", "Neutre", "Neutre", "Negative", "Negative", "Negative"]
    )

    grade["ToGrade"] = grade["ToGrade"].replace(
        ["Positif", "Neutre", "Negative"],
        [1, 0, -1])

    grade = grade.reset_index()

    return grade

In [45]:
get_business_grades("AAPL")

,index,GradeDate,Firm,ToGrade,FromGrade,Action,GradeYear,GradeMonth,GradeDay
0,0,2024-12-13 14:28:55,Morgan Stanley,1,Overweight,reit,2024,12,13
1,1,2024-12-10 11:11:52,Needham,1,Buy,reit,2024,12,10
2,2,2024-11-29 15:34:06,Wedbush,1,Outperform,reit,2024,11,29
3,3,2024-11-25 14:22:56,Morgan Stanley,1,Overweight,reit,2024,11,25
4,4,2024-11-01 18:16:16,Maxim Group,0,Hold,main,2024,11,1
...,...,...,...,...,...,...,...,...,...
962,962,2014-12-08 14:00:00,Citigroup,1,,main,2014,12,8
963,963,2014-12-03 05:00:00,JMP Securities,Market Outperform,,main,2014,12,3
964,964,2014-12-02 10:21:52,Canaccord Genuity,1,,main,2014,12,2
965,965,2014-12-01 10:08:52,Barclays,1,,main,2014,12,1
966,966,2012-09-12 11:51:00,Hudson Square,1,,main,2012,9,12