In [ ]:
# pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [19]:
# pip install yfinance --upgrade --no-cache-dir

In [30]:
import yfinance as yf
from typing import Literal

In [ ]:
def get_hist(business_name : str, period_choose : str)-> None :
    business = yf.Ticker(business_name)
    trade_hist = business.history(period=period_choose)
    return trade_hist

In [ ]:
get_hist("MSFT", "3mo")

In [38]:
def get_data(business_name : str, period_choose : str)-> None :
    business = yf.Ticker(business_name)
    trade_hist = business.history(period=period_choose)
    analyst_price_targets = business.analyst_price_targets
    grade = business.upgrades_downgrades
    recommendation = business.recommendations
    return trade_hist, analyst_price_targets, grade, recommendation

In [40]:
trade_hist, analyst_price_targets, grade, recommendation = get_data("MSFT", "3mo")

In [ ]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info
msft.info

In [28]:
hist = msft.history(period="d")

MSFT: Period 'd' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']

In [27]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054594,0.062623,0.054594,0.059946,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.059946,0.063158,0.059946,0.062087,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062087,0.063694,0.062087,0.063158,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063158,0.063694,0.061017,0.061552,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061552,0.062087,0.059946,0.060482,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2024-11-04 00:00:00-05:00,409.799988,410.420013,405.570007,408.459991,19672300,0.0,0.0
2024-11-05 00:00:00-05:00,408.369995,414.899994,408.079987,411.459991,17626000,0.0,0.0
2024-11-06 00:00:00-05:00,412.420013,420.450012,410.519989,420.179993,26681800,0.0,0.0
2024-11-07 00:00:00-05:00,421.279999,426.850006,419.880005,425.429993,19901800,0.0,0.0
2024-11-08 00:00:00-05:00,425.320007,426.500000,421.779999,422.540009,16875500,0.0,0.0

In [7]:
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'fullExchangeName': 'NasdaqGS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1731099601,
 'hasPrePostMarketData': True,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 422.54,
 'fiftyTwoWeekHigh': 468.35,
 'fiftyTwoWeekLow': 362.9,
 'regularMarketDayHigh': 426.5,
 'regularMarketDayLow': 421.78,
 'regularMarketVolume': 16809546,
 'longName': 'Microsoft Corporation',
 'shortName': 'Microsoft Corporation',
 'chartPreviousClose': 414.71,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1731056400,
   'end': 1731076200,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1731076200,
   'end': 1731099600,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1731099600,
   'end': 1731114000,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [9]:
msft.calendar

{'Dividend Date': datetime.date(2024, 12, 12),
 'Ex-Dividend Date': datetime.date(2024, 11, 21),
 'Earnings Date': [datetime.date(2025, 1, 28), datetime.date(2025, 2, 3)],
 'Earnings High': 3.47,
 'Earnings Low': 3.08,
 'Earnings Average': 3.15,
 'Revenue High': 70518500000,
 'Revenue Low': 68488700000,
 'Revenue Average': 68835600000}

In [12]:
msft.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         21   35     2     0           0
2    -2m         21   34     2     0           0
3    -3m         20   27     6     0           0

In [13]:
msft.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         21   35     2     0           0
2    -2m         21   34     2     0           0
3    -3m         20   27     6     0           0

In [14]:
msft.upgrades_downgrades

                               Firm        ToGrade   FromGrade Action
GradeDate
2024-11-05 16:45:18     RBC Capital     Outperform  Outperform   reit
2024-10-31 19:38:15             UBS            Buy         Buy   main
2024-10-31 15:05:39       JP Morgan     Overweight  Overweight   main
2024-10-31 14:33:04        TD Cowen            Buy         Buy   main
2024-10-31 11:20:42   Piper Sandler     Overweight  Overweight   main
...                             ...            ...         ...    ...
2012-04-20 10:18:00   Deutsche Bank            Buy               main
2012-04-03 15:53:00             UBS            Buy               main
2012-03-22 11:03:00  Morgan Stanley     Overweight               main
2012-03-19 18:00:00  Hilliard Lyons  Long-Term Buy               main
2012-03-16 12:19:00  Argus Research            Buy        Hold     up

[725 rows x 4 columns]

In [ ]:
msft.analyst_price_targets

{'current': 422.54,
 'low': 425.0,
 'high': 600.0,
 'mean': 497.6,
 'median': 497.7}

In [17]:
msft.eps_trend

     current  7daysAgo  30daysAgo  60daysAgo  90daysAgo
0q      3.15      3.16       3.22       3.22       3.22
+1q     3.19      3.20       3.27       3.28       3.27
0y     13.02     13.00      13.07      13.08      13.07
+1y    14.95     15.04      15.22      15.22      15.23